.buttons-line {
  display: flex;
  flex-direction: row;

  &>.button { margin-right: 30px; }
  &>.button.button-last { margin-right: 0; margin-bottom: 0; }
}

.button {
  border: 1px solid $dark;
  padding: 14px 20px;
  background-color: white;

  color: $dark;
  text-align: center;
  font-weight: bold;

  cursor: pointer;

  &:hover { @extend .with-drop-shadow-light; }
  &:focus, &:active { outline: none; }
}

.button-img { border: none; }
.button-img:hover { box-shadow: none; }

.button-square {
  padding: 9px;
  width: 30px;
  height: 30px;
  margin: 0;
}

.button-group {
  display: flex;
}

.button-group-vertical {
  @extend .button-group;

  flex-direction: column;
  justify-content: center;

  &>.button { margin: 20px 0; }
}

.button-dark {
  background-color: $blue-grey-darker;
  color: white;
  border-color: white;

  &:hover { box-shadow: 0 4px 6px rgba(0,0,0,.8); }
}

.button-simple {
  padding: 35px 40px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .9rem;
  text-align: center;
}
