@import 'mixins';

@import 'colors';
@import 'font';
@import 'bg';

@import './simple-grid.scss';

@import 'layout';
@import 'utility';

@import 'navbar';
@import 'buttons';
@import 'category';
@import 'card';

body {
  background-color: white;
}

img {
  max-width: 100%;
  height: auto;
}

#personal-image {
  max-width: 50%;
  min-height: 450px;
  height: 98vh;
  float: right;

  &>img { height: 98vh; }
}

#logos { margin-top: 4em; }

#scroll-animation {
  position: absolute;
  width: 30px;
  height: 45px;

  left: calc(50vw - 15px);
  top: calc(100vh - 65px);
}
